
<div class="menu">
  <div class="block cenzorBlock">
    <img src="./assets/img/cenzor.png" alt="">
    <h4>Angular list of prohibited words</h4>
    <div class="buttonDiv">
      <button [routerLink]="['/works/cenzor']">details</button>
    </div>
  </div>
  <div class="block taskBlock">
    <img src="./assets/img/users.png" alt="">
    <h4>Angular user list</h4>
    <div class="buttonDiv">
      <button [routerLink]="['/works/task']">details</button>
    </div>
  </div>
  <div class="block usersBlock">
    <img src="./assets/img/tasks.png" alt="">
    <h4>Angular task list</h4>
    <div class="buttonDiv">
     <button [routerLink]="['/works/users']">details</button>
    </div>
  </div>
</div>