
<div class="activFlex">
  <div class="first">
    <span>Last Works > > ></span>
    <button  [routerLink]="['/works/cenzor']" routerLinkActive="route-active" class="activCenzor">Cenzor</button>
    <button [routerLink]="['/works/users']"  routerLinkActive="route-active" class="activUsers">Users</button>
    <button [routerLink]="['/works/task']" routerLinkActive="route-active" class="activTask">Task</button>
  </div>
  <div class="second">
    <button [routerLink]="['/home']" class=activBackHome>Back to > > > Home</button>
  </div>
</div>